.headecontete {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 130vh;
  width: 100%;

  flex-direction: row;
  transition: 0.5s;
}

.wrapper1 {
  gap: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid purple;
  justify-content: center;
  align-items: center;
  transition: 00.5s;

  width: 60%;
  height: 42.2rem;
  transition: 0.5s;
}

.itenstext {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Chivo";

  height: 50px;
  font-size: 28px;
  color: #3ca63a;
}
strong {
  color: #3ca63a;
}

.sinta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  font-size: 28px;
  flex-direction: column;
  height: 100px;
}
.sinta h3 {
  height: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 24px;
}
.textfinal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: left;

  padding: 5px;
  width: 80%;
  flex-direction: column;
  height: 85px;
  font-size: 20px;
}
.botao {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 5rem;
  width: 100%;
}

.redesociais {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 30px;
  width: 100%;
  margin-left: 5rem;
  transition: 00.5s;
}

.itensfonos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 240px;
}
.flot {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  width: 90px;
  height: 10px;
  border: 2px solid black;
  background: #0e0f0e;
  filter: blur(4px);
}

.itensfonos img {
  height: 200px;
}

.wrapper2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  justify-content: center;

  width: 40%;
  height: 40rem;
}

.itensimglaft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 25rem;
  width: 65px;
  padding-left: 5px;
  padding-right: 5px;
}

.itensimglaft img {
  height: 50px;
}
.wrapper-filho1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  justify-content: center;

  width: 100%;
  height: 30rem;
}

.bolinhas {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  height: 50px;
  border: 1px solid#4e564e;
  width: 90%;
}
.code1 {
  display: flex;
  width: 40px;
  height: 40px;
  background: #33bf30;
  border-radius: 16px;
}
.code2 {
  display: flex;
  width: 40px;
  height: 40px;
  background: #4e564e;
  border-radius: 16px;
}
.code3 {
  display: flex;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 16px;
}

@media (max-width: 1000px) {
  .headecontete {
    flex-direction: column;
    gap: 3rem;
  }
  .wrapper1 {
    border: 3px solid #33bf30;

    width: 100%;
  }
  .itenstext {
    font-size: 15px;
  }
  .sinta {
    text-align: left;
    font-size: 12px;
  }
  .textfinal {
    text-align: left;
    font-size: 12px;
  }
  .botao {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: 0.5s;
  }
  .botao .compre {
    height: 3rem;
    width: 150px;
  }
  .botao .Saiba {
    height: 3rem;
    width: 150px;
  }
  .redesociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .wrapper2 {
    border: 3px solid rgb(66, 26, 187);
    justify-content: center;
    width: 100%;
  }
}

.logofinal {
  display: flex;
  width: 99%;
  min-height: 100vh;

  flex-direction: column;
  background-color: rgb(20, 27, 67);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 9rem;
  width: 22%;
  gap: 20px;
  border: 2px solid rgb(161, 50, 161);
  margin-bottom: 5rem;
}

.section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 18rem;
  width: 22%;

  border: 2px solid wheat;
}

.modelos {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

  height: 60px;
}
.section img {
  height: 110px;
  width: 80px;
}

.valor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 29px;

  background: #3ca63a;
  border-radius: 16px;
}
.redesociais1:hover {
  transition: 00.5s;
  height: 50px;
  width: 80px;
  border-radius: 50%;
  border-left: 2px solid #4285f4;
  border-right: 2px solid red;
}

.redesociais1::after,
.redesociais1::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 50;
  left: 50;
  right: 50;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
}

.redesociais1::before {
  border-left: 2px solid #4285f4;
  border-right: 2px solid red;
  transform: scaleY(0);
}
.redesociais1::after {
  border-top: 2px solid #fbbc05;
  border-bottom: 2px solid #34a853;
  transform: scaleX(0);
}
.redesociais1:hover:before {
  transform: scaleY(1);
}
.redesociais1:hover:after {
  transform: scaleX(1);
}

.Saiba {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 56px;
  color: white;
  padding: 20px;
  font-size: 15px;
  line-height: 24px;
  border-radius: 10px;
  font-family: sans-serif;
  position: relative;
  cursor: pointer;
  gap: 1rem;
  transition: all 400ms ease;
}

.Saiba {
  transform-style: preserve-3d;
  background-color: #2e332e;
}
.Saiba::after {
  display: flex;
  align-items: center;
  justify-content: center;
  top: -100%;
  left: 0px;
  height: 50px;
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: #376693;
  border-radius: 10px;
  content: "Vamos-lá?";
  transform-origin: left bottom;
  box-sizing: border-box;
  transform: rotateX(90deg);
}
.Saiba:hover {
  transform-origin: center bottom;
  transition: 00.5s;
  transform: rotateX(-90deg) translateY(100%);
}

.compre {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 56px;
  color: white;
  padding: 20px;
  font-size: 15px;
  line-height: 24px;
  border-radius: 10px;
  font-family: sans-serif;
  position: relative;
  cursor: pointer;
  gap: 1rem;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #3ca63a;
}

.compre::after {
  display: flex;
  align-items: center;
  justify-content: center;
  top: -100%;
  left: 0px;
  height: 50px;
  width: 100%;
  padding: 20px;
  position: absolute;
  background: #ffb801;
  border-radius: 10px;
  content: "Clicar!!";
  transform-origin: left bottom;
  box-sizing: border-box;
  transform: rotateX(90deg);
}
.compre:hover {
  transform-origin: center bottom;
  transition: 00.5s;
  transform: rotateX(-90deg) translateY(100%);
}
