/*Goole Fontes*/
@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@200;300;400;500;600;700;800 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/*Some Variables */

:root {
  --green-color: #3cb815;
  --ms-grid-layer: #33bf30;
  --Light-green-color: #c0eb7b;
  --orange-color: #ff7e00;
  --light-orange-color: #f75f1d;
  --text-color: #1a2428;
  --bg-color: #fff;
  overflow-x: hidden !important;
}


.header-button {
  border: none !important; /* Remover a borda */
}


body {
  color: var(--text-color);
  overflow-x: hidden !important;
}

.logoDelicacy{
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: solid 2px #3cb815;
 
  color: var(--ms-grid-layer);
}

.logoDelicacy strong {
  color: #fff !important;

}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Almarai","Helvetica","Arial",sans-serif;

}



.myNaveLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;

}


.logo-icons {
 display: none;
}

@media screen and (max-width: 900px) {
  .div-links {
      display: none;
      
  }

  .div-logo-position-fixed {
      height: 100%;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

}

.flot {
  background: #0e0f0e;
  border: 2px solid #000;
  border-radius: 20px;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  height: 10px;
  margin-top: 10px;
  width: 90px;
}


.logo-links {
  height: 100px;
  justify-content: center;
  gap: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%; 
}


.itens-menu-celular {
  display: flex;
  gap: 0px;
 
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.itens-menu-celular a {
  margin: 0.2rem 0.5rem;
  height: 2.8rem;
  font-size: larger;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color:#f75f1d !important;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.itens-menu-celular a:hover {
  font-family: "monospace", sans-serif;
  color: #fff !important;
}

@media screen and (min-width: 400px) and (min-width: 360px) {
  
  .menuItens {
    display: flex;
  }
}



.menu-celular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  color: var(--bg-color);
  gap: 1.2rem;
  z-index: 1;
  background: rgba(17, 18, 17, 0.95);
  background: linear-gradient(
    34deg,
    rgba(17, 18, 17, 0.95)20%,
     rgba(17, 18, 17, 0.95)90%,
   
  );
  transition: 0.6s;
  opacity: 0;
  animation-name: menucelular;
  animation-fill-mode: forwards;
  animation-duration: 0.9s;
  transform: translateY(-50%);
}

@keyframes menucelular {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.icone-fechar {
  position: absolute;
  width: 100px;
  top: 1rem;
  right: 1rem;
  color: white;
  
}

.itens-menu-celular {
  display: flex;
  flex-direction: column;
  text-align: center;
}


@media screen and (max-width: 800px) {
  .logo-links {
      display: none;
      font-size: 10px;
      
  }
  .logo-icons {

      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 60px;
      width: 100%;
  }
}





