@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


:root {
    --green-color: #3cb815;
    --Light-green-color: #c0eb7b;
    --orange-color: #ff7e00;
    --light-orange-color: #f75f1d;
    --text-color: #1a2428;
    --bg-color: #fff;
    overflow-x: hidden !important;
  }
  

.show-chatbot {
    width: 250px;
    height: 50px;
}


.chatbot-toggler {
  position: fixed;
  border: none;
  outline: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 40px;
  bottom: 38px;
  height: 50px;
  width: 50px;
  color: #fff;
  background: #3cb815;
  border-radius: 50%;
}

.chatbot-toggler span {
  position: absolute;
}
.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
  opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot {
    background: #fff;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    overflow: hidden;
    right: 40px;
    bottom: 100px;
    height: 480px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
      0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.show-chatbot .chatbot {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.chatbot header {
  background:var(--green-color);
  padding: 16px 0;
  text-align: center;
  position: relative;
}
.chatbot header span {
  position: absolute;
  right: 20px;
  top: 50%;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  display: none;
  transform: translateY(-50%);
}
.chatbot header h2 {
  color: #fff;
  font-size: 1.4rem;
}

.chatbot .chatbox {
  height: 510px;
  overflow-y: auto;
  padding: 15px 20px 70px;
}

.chat .min {
  background: red;
}

.chatbox .chat {
  display: flex;
}
#incoming {
  background: #325872;
}

.chatbox .incoming {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbox .autgoing .min {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
}
.chatbox .chat p {
  color: #fff;
  max-width: 75%;
  font-size: 0.95rem;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  background: #724ae8;
}

.chatbox .incoming p {
  color: #000;
  border-radius: 10px 10px 10px 0;
  background: #e3f2fd;
}

.chatbot .chat-input {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  bottom: 0;
  gap: 5px;
  background: #fff;
  padding: 5px 20px;
  width: 100%;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.50rem;
  font-weight: 500;
  resize: none;
  padding: 16px 15px 16px 0;
}
.chat-input span {
  color: #724ae8;
  font-size: 1.35rem;
  cursor: pointer;
  align-self: flex-end;
  line-height: 55px;
  visibility: hidden;
}

.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot {
    right: 0;
    bottom: 60px;
    width: 99%;
    height: 80%;
    border-radius: 0;
  }

  .chatbot .chatbox {
    height: 90%;
  }

  .chatbot header span {
    display:flex;
}
}


